{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load gravatar %}

{% if baby.activities %}
<div id="product-summary" class="media-list position-relative">
    <div class="table-responsive">
        <table class="table table-hover table-xl mb-0" id="product-summary-table">
            <thead>
                <tr>
                    <th scope="col">{% trans "Date" %}</th>
                    <th class="text-center" scope="col">{% trans "Type" %}</th>
                    <th scope="col">{% trans "Commentaire" %}</th>
                    <th scope="col">{% trans "Quantité" %}</th>
                    <th scope="col">{% trans "Parent" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in baby.activities %}
                <tr>
                    <td class="text-muted align-middle">{{ activity.created_date|naturalday }} {% trans "à" %} {{ activity.created_date|time }}</td>
                    <td class="text-center" style="padding-top">
                        {% if activity.type == 'BOTTLE' %}<img src="{% static "img/bottle.svg" %}" alt="{% trans "Biberon" %}" height="28" />{% elif activity.type == 'BATH' %}
                        <img src="{% static "img/bath.svg" %}" alt="{% trans "Bain" %}" height="26" />{% elif activity.type == 'PEE' %}
                        <img src="{% static "img/diaper.svg" %}" alt="{% trans "Couche" %}" height="22" />{% elif activity.type == 'POOH' %}
                        <img src="{% static "img/pooh.svg" %}" alt="{% trans "Couche" %}" height="22" />{% endif %}
                    </td>
                    <td class="align-middle">{{ activity.comment }}</td>
                    <td class="align-middle">{% if activity.quantity %}{{ activity.quantity }}{% trans "ml" %}{% endif %}</td>
                    <td>
                        {% if activity.parent %}
                        <ul class="list-unstyled users-list m-0">
                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="{{ activity.parent.first_name }}" class="avatar avatar-sm pull-up">
                                <img class="gravatar" src="{% gravatar_url activity.parent.email 30 %}" width="10" height="10" alt="gravatar" />
                            </li>
                        </ul>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a href="{% if activity.type == 'BOTTLE' %}{% url 'activities:bottle_update' activity.id %}{% else %}{% url 'activities:update' activity.id %}{% endif %}">
                            <i class="ft-edit-2 blue-grey lighten-2 font-medium-5 ml-1"></i>
                        </a>
                        <a href="{% url 'activities:delete' activity.baby.id activity.id %}">
                            <i class="ft-trash danger lighten-2 font-medium-5 ml-1"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{% url 'activities:csv_view' baby.id %}" type="button" class="btn btn-outline-info round btn-min-width m-1 float-right" style="margin-bottom:96px;"><i class="fas fa-file-download"></i> {% trans "Télécharger au format .csv" %}</a>
{% endif %}
