{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'activities:index' %}">{% trans "Bébés" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'activities:list' %}">{% trans "Activités" %}</a></li>
<li class="breadcrumb-item active">{% trans "Activité" %} {{ object.created_date|naturaltime }}</li>
{% endblock %}

{% block title %}{% trans "Activité" %}{% endblock %}

{% block scripts %}
<script>
	document.getElementById('id_created_date').type = 'datetime-local';
</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <section section id="baby-{{ baby.id }}" class="card">
			<div class="card-header">
		        <h4 class="card-title">{% trans "Modifier l'activité" %}</h4>
		        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
		            <ul class="list-inline mb-0">
		                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
		            </ul>
		        </div>
		    </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">{% trans "Enregistrer" %}</button>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}
