{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block baby_active %} active{% endblock %}

{% block main %}
<div class="card mt-3 mb-3">
    <h3 class="card-header">{% trans "Modifier" %} {{ object }}</h3>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <label for="id_api_key">{% trans "Clé d'API" %}</label>
                <div class="input-group">
                    <input readonly name="api_key" type="text" class="form-control" value="{{ object.api_key}}">
                    <div class="input-group-append">
                        <a href="{% url 'activities:generate_apikey' object.id %}" class="btn btn-outline-primary" type="button"><i class="fas fa-sync-alt"></i></a>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Enregistrer" %}</button>
        </form>
    </div>
</div>
{% endblock %}
