{% load static %}
{% load i18n %}
{% load bootstrap4 %}
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Baptiste Gaultier">

		<title>Romy</title>
		{% bootstrap_css %}

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "css/custom.css" %}">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="/"><img src="{% static "img/logo.svg" %}" alt="Logo" height=24 /> Romy</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item{% block baby_active %}{% endblock %}">
							<a class="nav-link" href="{% url 'activities:index' %}">{% trans "Mon bébé" %} <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item{% block activities_active %}{% endblock %}">
							<a class="nav-link" href="{% url 'activities:list' %}">{% trans "Activités" %}</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main class="container">
			{% block main %}
			{% endblock %}
		</main>

		<footer class="footer">
			<div class="container">
				<span class="text-muted"><i class="fab fa-creative-commons"></i> Icons created by <a href="https://thenounproject.com/latyshevaoksana/collection/baby/">Oksana Latysheva</a> from the Noun Project</span>
			</div>
		</footer>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
