{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Baptiste Gaultier">

		<title>Romy</title>

		<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{% static "css/vendors.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/app-lite.css" %}">

		<link rel="stylesheet" type="text/css" href="{% static "css/core/colors/palette-gradient.min.css" %}">

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/favicon144.png" %}">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/favicon114.png" %}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/favicon72.png" %}">
		<link rel="apple-touch-icon-precomposed" href="{% static "img/favicon57.png" %}">
		<link rel="shortcut icon" href="{% static "img/favicon32.png" %}">
		<style media="screen">
			form label {
				color:white
			}
			form small {
				color:white
			}
		</style>
	</head>
	<body class="bg-gradient-x-blue-purple-2" style="background-repeat: repeat">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-wrapper-before"></div>
				<div class="content-header row"></div>
				<div class="content-body">
					<section class="flexbox-container">
					    <div class="col-12 d-flex align-items-center justify-content-center">
					        <div class="col-md-6 col-10 p-0">
					            <div class="card card-transparent box-shadow-0 border-0">
					                <div class="card-header card-transparent  border-0">
					                    <div class="text-center my-2">
											<img  src="{% static "img/wolf-white.svg" %}" alt="Logo" height="38" />
					                    </div>
					                    <div class="font-large-1  text-center white">
					                        WE ARE COMING SOON !!
					                    </div>
					                </div>
					                <div class="card-content">
				                    <div class="text-center">
															<div class="col-12">
									                            <p class="card-text lead white text-justify">
																	{% blocktrans %}
																	Coucou,<br><br>
																	Nous sommes Baptiste et Ingrid et nous venons d’accueillir Romy.<br>
																	Romy notre bébé, que l’on va garder pour nous.<br>
																	Et <a href="/babies/" class="text-white text-bold-700">Romy.baby</a>, une interface web à destination des tout nouveaux parents que l’on veut bien partager :)<br><br>
																	<a href="/babies/" class="text-white text-bold-700">Romy.baby</a> sert à suivre les biberons, les couches, les bains, et à l’avenir tout ce qui permet à nos tous petits d’être en bonne santé.<br><br>
																	Vous êtes aussi jeune parent ? Alors créez un compte en cliquant <a href="/signup/" class="text-white text-bold-700">ici</a> et faites nous vos retours et suggestions d’évolutions à <a href="mailto:hello@romy.baby?subject=feedback" class="text-white text-bold-700">hello@romy.baby</a>.<br><br>
																	Et comme nous voyons la parentalité comme un travail d’équipe, nous avons pensé cet outil comme étant utilisable par tous les membres de la famille.<br><br>
																	{% endblocktrans %}
																</p>
																<a href="/babies/" class="btn btn-lg btn-outline-white btn-block text-white">{% trans "Se connecter" %}</a>
															</div>
														</div>
													</div>
					        </div>
					    </div>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>
